{{ attach_library('module_hero/hero-style') }}
<h4>{{ title }}</h4>
<ol>
  {% for item in items %}
    <li class="animate__animated animate__{{ random(['bounce', 'flash', 'pulse', 'bouncein']) }}" >{{ item.name }}</li>
  {% endfor %}
</ol>
<strong>This is comming form template</strong>
